.text-done {
    color: #fff;
    text-decoration: line-through;
}

.btn--br {
    border-radius: 50%;
}

.text-red {
    color: red;
}

.li-background {
    background: #000;
}


@media (max-width: 767px) {
    .w-50 {
        width: 100%!important;
    }
}
