.text-done {
    color: #fff;
    text-decoration: line-through;
}

.text--size {
    font-size: 12px;
}

.list-group {
    word-break: break-all;
    font-size: 20px;
}

.btn--br {
    border-radius: 50%;
}

.text-16 {
    font-size: 16px;
}

.text-red {
    color: red;
}

.li-background {
    background: #000;
}

.d-flex {
    flex-wrap: wrap;
}


@media (max-width: 767px) {
    .w-50 {
        width: 100%!important;
    }
}
